/* CSS Document */

/*start main ruls*/
body{
	background-color: #f4f4f4;
	font-size: 16px;
}

/*end main rules*/
/* start login form*/
.login{
	width: 300px;
	margin: 100px auto;
}
.login h4{
	color: #888;
}
.login input {
	margin-bottom: 10px;
}
.login .form-control{
	background-color: #EAEAEA;
	
}
.login .btn{
	background-color: #008dde;
}
/*end login form*/

/*start bootstrap edit*/
	
.navbar{
	border-radius: 0;
	margin-bottom: 0; 	
}
.nav>li>a,
.navbar-brand{
	padding: 15px 12px;
}
.navbar-brand{
	font-size: 1em;
}
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus, 
.navbar-inverse .navbar-nav>.open>a:hover,
.dropdown-menu{
background-color:#bdc3c7;
}

.dropdown-menu{
	min-width :180px;
	padding: 0;
	font-size: 1em;
	border: none;
	border-radius: 0;
}

.dropdown-menu > li > a {
	color: #fff;
	padding: 10px 15px;
}


/*end bootstrap edit*/
/*start dashbord*/
.home-stat .stat{
	background-color: #EEE;
	border: 1px solid #CCC;
	padding: 20px;
	font-size: 15px;
	font-weight: bold;
	color: #FFF;
	border-radius: 10px;
	position: relative;
	overflow: hidden;

}
.home-stat .stat i{
	font-size: 70px;
	position: absolute;
	top: 35px;
	left: 30px;
}
.home-stat .stat .info{
	float: right;

}
.home-stat .stat a{
	color: #FFF;
	text-decoration: none;
}
.home-stat span{
	display: block;
	font-size: 50px;
}
.home-stat .st-member{
	background-color: #74b9ff;
}
.home-stat .st-pending{
	background-color: #d63031;
}
.home-stat .st-item{
	background-color: #d35400;
}
.home-stat .st-comments{
	background-color: #9b59b6;
}
.latest{
	margin-top: 30px;
}
.latestusers{
	margin-bottom: 0px;

}
.latestusers li{
	padding: 8px 0;
	overflow:hidden;
}
.latestusers .btn-success,
.latestusers .btn-info{
	padding: 2px 8px;

}
.latestusers .btn-info{
	margin-right: 5px;
}
.latest .comment-box{
	margin: 5px 0 10px;
}
.latest .comment-box .member-n,
.latest .comment-box .member-c {
	float: left;
}
.latest .comment-box .member-n{
margin-right: 20px;
margin-top: 10px;
}
.latest .comment-box .member-c{
	width: calc(100% - 100px);
	background-color: #eee;
	padding: 10px;
}

/* start member page*/
h1{
	font-size: 55px;
	margin: 20px 0;
	font-weight: bold;
	color: #666;
	
	
}
.show-pass {
	position:absolute;
	top: 6px;
	right: -30px;
}
.main-table{
	-webkit-boxshadow:0 3px 10px #CCC;
	-moz-boxshadow:0 3px 10px #CCC;
	boxshadow:0 3px 10px #CCC;
}
.manage-member img{
	width: 50px;
	height: 50px;
}
.main-table td {

	background-color: #FFF;
	vertical-align: middle !important;
}

.main-table tr:first-child td{
	background-color: #333;
	color: #fff;
	
}
.main-table .btn{
	padding: 3px 10px;

}
.activate{
	margin-left: 5px;
}
/* eng member page*/
/*start catogry page*/
.categories .categ{
	padding: 15px;
	position: relative;
	overflow: hidden;
}
.categories .categ:hover .hidden-button{
	right: 10px;
}
.categories .categ:hover{
	background-color: #eee;
}
.categories .categ .hidden-button {
	-webkit-transition:all .5s ease-in-out;
	-moz-transition:all .5s ease-in-out;
	transition:all .5s ease-in-out;
	position: absolute;
	top: 10px;
	right: -120px;
}
 .categories .categ .hidden-button a{
	margin-right: 5px;

}
.categories .categ h3{
	margin: 0 0 10px;
	font-weight: bold;
	color: #6A6A6A;
}
.categories .categ:last-of-type ~ hr{
	display: none;
}
.categories .categ .visablty{
	background-color: #e74c3c;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}
.categories .categ .comment{
	background-color: #34495e;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}
.categories .categ .ads{
	background-color: #7f8c8d;
	color: #fff;
	padding: 4px 6px;
	margin-right: 10px;
	border-radius: 6px;
}
.categories .panel-body{
	padding: 0px;

}
.categories hr {
	padding-top: 5px;
	padding-bottom: 5px;
}
.categories .ordering a {
	color: #888;
	text-decoration: none;
	font-weight: bold;
}
.categories .ordering .active{
	color: #f00;
} 
.categories .add-category{
	margin-top: -10px;
	margin-bottom: 30px;
}
.categories .show-delete{
	color: #f00;
	
}
